<div class="container card col-lg-8 col-md-10 col-sm-12 mt-4">
    <h2 class="pt-3 text-one"> Liste des machines</h2>
    <div class="row input-group mt-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <button class="btn background-outline-yellow col-lg-12" (click)="open(content)" *ngIf=isAdmin()>
                <span> Ajouter machine</span>
                <ng-template #content let-modal>
                    <div class="modal-header background-modal-title">
                        <h4 class="modal-title text-one">Ajouter une nouvelle machine</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group-append">
                            <app-create-machine></app-create-machine>
                        </div>
                    </div>
                </ng-template>
            </button>
        </div>

        <div class="col-lg-8 col-md-6 col-sm-12">
            <span class="input-group-append">
                <input #myInput class="form-control border" type="text" placeholder="Chercher une machine..."
                    [(ngModel)]="machineName" [(ngModel)]="machineDescription" (input)="Search()">
                <button class="btn background-outline-yellow" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-one">
                <th> ID machine</th>
                <th> Nom </th>
                <th> Description </th>
                <th> Centre de charge </th>
                <th> Réference </th>
                <th> UAP </th>
                <th> Catégorie </th>
                <th *ngIf=isAdmin()> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machine of machines">
                <td>{{machine.idMachine}}</td>
                <td>{{machine.machineName}}</td>
                <td>{{machine.machineDescription}}</td>
                <td>{{machine.centreCharge.ccname}}</td>
                <td>{{machine.reference}}</td>
                <td>{{machine.centreCharge.uap.uapName}}</td>
                <td>{{machine.machineCategory}}</td>
                <td>
                    <button (click)="updateMachine(machine.idMachine)" class="btn outline-update" *ngIf=isAdmin()>
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="open(content)" *ngIf=isAdmin()>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title text-danger">Suppression {{machine.machineName}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group-append text-one">
                                    Voulez-vous vraiment supprimer cette machine?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn background-outline-yellow" (click)="modal.dismiss()">
                                    Annuler
                                </button>
                                <button class="btn btn-danger" (click)="deleteMachine(machine.idMachine)">
                                    Supprimer
                                </button>
                            </div>
                        </ng-template>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>