<div class="container card mt-5 p-3">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <h1 class="text-one m-3">Gabarie</h1>
        <div class="col-lg-6 col-md-2"></div>
        <button class="btn background-yellow col-2 m-1" (click)="exportExcel()">
            <i class="fas fa-file-excel"></i> Exporter Excel</button>
    </div>

    <div class="row m-3">
        <div class=" card col-lg-2 col-md-5 col-sm-11 p-1 m-2">
            <label>
                <h5 class="text-one"> Date début </h5>
            </label>
            <input class="form-control" type="date" name="dateDeb" [(ngModel)]="dateDeb" required>
        </div>

        <div class="card col-lg-2 col-md-5 col-sm-11 p-1 m-2">
            <label>
                <h5 class="text-one"> Date fin </h5>
            </label>
            <input class="form-control" type="date" name="dateFin" [(ngModel)]="dateFin" [value]="dateDeb">
        </div>

        <div class="card col-lg-2 col-md-5 col-sm-11 p-1 m-2">
            <label class="text-one"><strong>Ordre de fabrication: </strong></label>
            <input class="form-control" type="text" name="Of" [(ngModel)]="of">
        </div>

        <div class="card col-lg-2 col-md-5 col-sm-11 p-1 m-2">
            <label class="text-one"><strong>Gabarie</strong></label>
            <input class="form-control" type="text" name="Of" [(ngModel)]="gabarie">
        </div>

        <div class="col-lg-2 col-md-10 col-sm-11 p-2 m-2">
            <button class="btn background-outline-yellow  mt-4 w-100" (click)="getList()" type="button">
                Opérations
            </button>
        </div>

        <!--ngb-alert *ngIf="isError" class="mt-3 mb-0" type="danger">
            la date de début doit être plus ancienne que la date fin .
        </ngb-alert-->
    </div>

    <div class=" container card mt-5 p-3">
        <h2 class="text-one">Démarrage</h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-one">
                    <th> Identificateur </th>
                    <th> Date </th>
                    <th> Ordre de fabrication </th>
                    <th> Quantité </th>
                    <th> Temps </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of demarrage">
                    <td>{{object.id}}</td>
                    <td>{{object.date}}</td>
                    <td>{{object.of}}</td>
                    <td>{{object.quantity}}</td>
                    <td>{{object.temps}}</td>
                </tr>
            </tbody>
        </table>


        <div class="footer-pagination">
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <ngb-pagination [(page)]="thePageNumberDemarrage" [pageSize]="thePageSizeDemarrage"
                        [collectionSize]="theTotalElementsDemarrage" [maxSize]="2" [boundaryLinks]="true"
                        (pageChange)="getList()">
                    </ngb-pagination>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <select (change)="updatePageSizeDemarrage($any($event.target).value)" class="form-control w-8">
                        <option selected="true"> 5 </option>
                        <option> 10 </option>
                        <option> 100 </option>
                        <option> 1000 </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container card mt-5 p-3">
        <h2 class="text-one">Production</h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-one">
                    <th> Identificateur </th>
                    <th> Date </th>
                    <th> Ordre de fabrication </th>
                    <th> Quantité produite </th>
                    <th> Quantité Rebut </th>
                    <th> Temps </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of production">
                    <td>{{object.id}}</td>
                    <td>{{object.date}}</td>
                    <td>{{object.of}}</td>
                    <td>{{object.quantiteProduite}}</td>
                    <td>{{object.quantiteRebut}}</td>
                    <td>{{object.temps}}</td>
                </tr>
            </tbody>
        </table>


        <div class="footer-pagination">
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <ngb-pagination [(page)]="thePageNumberProduction" [pageSize]="thePageSizeProduction"
                        [collectionSize]="theTotalElementsProduction" [maxSize]="2" [boundaryLinks]="true"
                        (pageChange)="getList()">
                    </ngb-pagination>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <select (change)="updatePageSizeProduction($any($event.target).value)" class="form-control w-8">
                        <option selected="true"> 5 </option>
                        <option> 10 </option>
                        <option> 100 </option>
                        <option> 1000 </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container card mt-5 p-3">
        <h2 class="text-one">Suivie</h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-one">
                    <th> Identificateur </th>
                    <th> Nom </th>
                    <th> Temps de fonctionnement</th>
                    <th> Date </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of suivi">
                    <td>{{object.id}}</td>
                    <td>{{object.nom}}</td>
                    <td>{{object.tempf}}</td>
                    <td>{{object.date}}</td>
                </tr>
            </tbody>
        </table>


        <div class="footer-pagination">
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <ngb-pagination [(page)]="thePageNumberSuivi" [pageSize]="thePageSizeSuivi"
                        [collectionSize]="theTotalElementsSuivi" [maxSize]="2" [boundaryLinks]="true"
                        (pageChange)="getList()">
                    </ngb-pagination>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <select (change)="updatePageSizeSuivi($any($event.target).value)" class="form-control w-8">
                        <option selected="true"> 5 </option>
                        <option> 10 </option>
                        <option> 100 </option>
                        <option> 1000 </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>