<div class="container col-lg-12">
    <div class="row">
        <div class="col-lg-2 m-3" >
            <div class="row p-2">
                <div class="card p-1 mt-2 col-lg-12 col-md-4 col-sm-6 col-xs-12">
                    <label><strong>Date début: </strong></label>
                    <input class="form-control" type="date" name="dateDeb" [(ngModel)]="dateDeb" required>
                </div>
                <div class="card p-1 mt-2 col-lg-12 col-md-4 col-sm-6 col-xs-12">
                    <label><strong> Date fin: </strong></label>
                    <input class="form-control" type="date" name="dateFin" [(ngModel)]="dateFin" [value]="dateDeb">
                </div>
    
                <div class="card p-1 mt-2 col-lg-12 col-md-4 col-sm-6 col-xs-12">
                    <label><strong>Testeur: </strong></label>
                    <input class="form-control" type="text" name="testerID" [(ngModel)]="testerID">
                </div>
                <div class="card p-1 mt-2 col-lg-12 col-md-4 col-sm-6 col-xs-12">
                    <!--button type="button" class="btn background-outline-yellow m-1"
                        (click)="ETL()"><strong>ETL</strong></button-->
                    <button type="button" class="btn background-outline-yellow m-1"
                        (click)="getDashboard()"><strong>Dashboard</strong></button>
                </div>
            </div>
        </div>
        <div class="row col-lg-9 m-3">
            <div class="row card p-2 m-1 col-lg-12">
                <div class="col-lg-7 test">
                    <button *ngFor="let uap of uaps" type="button" class="btn background-outline-bleu col-lg-3 col-md-3 m-1"
                        (click)="getListCentreChargeByUAP(uap.idUAP)" routerLinkActive="active">
                        <strong>{{uap.uapName}}</strong>
                    </button>
                    <button *ngFor="let cc of centreChargeByUAP" class="btn background-outline-yellow col-lg-3 col-md-3 m-1"
                        routerLinkActive="active" (click)="getDashboardCentreCharge(cc.idCC)">
                        {{cc.ccname}}
                    </button>
                </div>
                <div class="col-lg-6">
                    <button class="btn background-bleu col-lg-5 m-1"> <i class="fa fa-download" aria-hidden="true"></i>
                        Imprimer</button>
                    <button class="btn background-yellow col-lg-5 m-1" (click)="exportExcel()">
                        <i class="fas fa-file-excel"></i>
                        Exporter Excel</button>
                </div>
            </div>
            <div class="card col-lg-5 m-1">
                <strong>Partition de conformité des pièces par UAP</strong>
                <canvas id="myChartBarByDate"></canvas>
            </div>
    
            <div class="card col-lg-6 m-1">
                <strong>Partition de fonctionnement par UAP</strong>
                <canvas id="myChartLineByDate"></canvas>
            </div>
    
            <div class="card col-lg-3 m-1">
                <strong>Somme des pièces de l'usine</strong>
                <canvas id="myChartPieSomme"></canvas>
            </div>
    
            <div class="card col-lg-5 m-1">
                <strong>Somme des pièces par testeur {{testerID}}</strong>
                <canvas id="myChartBarByDateByTester"></canvas>
            </div>
    
            <div class="card col-lg-3 m-1">
                <strong>Conformité par UAP</strong>
                <canvas id="myCharBarByUAPDetails" style="height: 200px;"></canvas>
            </div>
    
            <div class="card col-lg-5 m-1">
                <strong>Durée fonctionnement par testeur {{testerID}}</strong>
                <canvas id="myChartLineByDateByTester"></canvas>
            </div>
            <div class="card col-lg-6 m-1">
                <strong>Partition de conformité des pièces par centre de charge </strong>
                <canvas id="myChartLineByUAPDetails"></canvas>
            </div>
    
            <div class="card col-lg-3 m-1">
                <strong>Conformité des pièces par UAP </strong>
                <canvas id="myChartPieByUAP"></canvas>
            </div>
    
            <div class="card col-lg-6 m-1">
                <strong>centre de charge</strong>
                <canvas id="myChartLineByCentreCharge"></canvas>
            </div>
        </div>
    </div>
</div>