<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <!--a class="navbar-brand" href="#">Navbar</a-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn navbar-brand" routerLink="uap" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span> Home</span>
        </button>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn navbar-brand" routerLink="list-users" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span> Users</span>
        </button>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn" >
        <button class="btn navbar-brand dropdown-toggle" data-toggle="dropdown" >
          <i aria-hidden="true"  class="fa fa-building"></i>
          <span> UAP </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item " data-toggle="dropdown" routerLink="uap-list" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> UAP </span>
          </button> 
          <button class="dropdown-item " data-toggle="dropdown" routerLink="load-charge-list" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Centre Charge</span>
          </button> 
          <button class="dropdown-item " data-toggle="dropdown" routerLink="machine-list" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Machine </span>
          </button>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn" routerLink="signup" routerLinkActive="active" *ngIf="!isLoggedIn">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          <span> Sign up</span>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn" routerLink="signin" routerLinkActive="active" *ngIf="!isLoggedIn">
          <i class="fa fa-unlock" aria-hidden="true"></i>
          <span> Sign in</span>
        </button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="isLoggedIn">
          Hi, {{ username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" routerLink="profil">Profil</button>
          <button (click)="logout()" class="dropdown-item" routerLink="/signin">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <span> Log out</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>