<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-background">
  <a class="navbar-brand nav-item active">
    <button class="btn navbar-brand text" routerLink="home">
      <img src="assets/logo3.png" />
    </button>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item" *ngIf="isLoggedIn && isAdmin()">
        <button class="btn navbar-brand text" routerLink="list-users" routerLinkActive="active">
          <i class="fa fa-users icon" aria-hidden="true"></i>
          <span> Utilisateurs</span>
        </button>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <button class="btn navbar-brand dropdown-toggle text" data-toggle="dropdown">
          <i aria-hidden="true" class="fa fa-building icon"></i>
          <span> UAP </span>
        </button>
        <div class="dropdown-menu navbar-background" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item" data-toggle="dropdown" routerLink="uap-list" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> UAP </span>
          </button>
          <button class="dropdown-item" data-toggle="dropdown" routerLink="load-charge-list"
            routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Centre Charge</span>
          </button>
          <button class="dropdown-item" data-toggle="dropdown" routerLink="machine-list"
            routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Machine </span>
          </button>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <button class="btn navbar-brand dropdown-toggle text" data-toggle="dropdown">
          <!--i aria-hidden="true" class="fa fa-building icon"></i-->

          <i class="fa fa-database icon" aria-hidden="true"></i>
          <span> Opérations </span>
        </button>
        <div class="dropdown-menu navbar-background" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item" data-toggle="dropdown" routerLink="databases/testeurs" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Testeurs </span>
          </button>
          <button class="dropdown-item" data-toggle="dropdown" routerLink="mechanical" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Assemblage mécanique  </span>
          </button>
          <button class="dropdown-item " data-toggle="dropdown" routerLink="databases/gabaries" routerLinkActive="active">
            <i aria-hidden="true"></i>
            <span> Gabaries </span>
          </button>
        </div>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <button class="btn navbar-brand text" routerLink="dashboard" routerLinkActive="active">
          <i class="fas fa-chart-line icon"></i>
          <span> Dashboard</span>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn text" routerLink="signin" routerLinkActive="active" *ngIf="!isLoggedIn">
          <i class="fa fa-unlock icon" aria-hidden="true"></i>
          <span> Connecter</span>
        </button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-one" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="isLoggedIn">
          Bonjour, {{username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-background">
          <button class="dropdown-item text" routerLink="profil">Profil</button>
          <button (click)="logout()" class="dropdown-item text" routerLink="/signin">
            <i class="fa fa-power-off icon" aria-hidden="true"></i>
            <span> Déconnecter</span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>