<nav class="navbar navbar-expand-md" style="background-color: #1335a1">
  <a class="navbar-brand"></a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn navbar-brand" routerLink="home" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"style="color:white"></i> <b style="color: white"> Home</b>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item">
        <button class="btn navbar-brand" routerLink="list-users" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"style="color:white"></i> <b style="color: white"> Users</b> 
        </button>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <button class="btn navbar-brand" routerLink="signup" routerLinkActive="active" >
          <i class="fa fa-sign-in" aria-hidden="true" style="color:white"></i> <b style="color: white"> Sign up</b>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn navbar-brand" routerLink="signin" routerLinkActive="active">
          <i class="fa fa-sign-in" aria-hidden="true" style="color:white"></i> <b style="color: white"> Sign in</b>
        </button>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <button class="btn navbar-brand" routerLink="profil" routerLinkActive="active">
          <i class="fa fa-user" aria-hidden="true"style="color:white"></i> <b style="color: white"> {{ username}}</b> 

        </button>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn navbar-brand" routerLink="signin" routerLinkActive="active">
          <i class="fa fa-sign-out" aria-hidden="true" style="color:white"></i><b style="color: white"> Log out</b>
        </button>
      </li>
    </ul>
  </div>
</nav>