<div class="container">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="control-label text-one">
                <h5>Nom UAP:</h5>
            </label>
            <div style="width : 200%">
                <input type="text" class="form-control" placeholder="Le nom de l'UAP" name="uapname"
                    [(ngModel)]="form.uapName" required #uapName="ngModel" minlength="3" maxlength="20">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && uapName.errors?.['required']">
                    Le nom de l'UAP est obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && uapName.errors?.['minlength']">
                    Le nom de l'UAP doit contenir au moins 3 caractères
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && uapName.errors?.['maxlength']">
                    Le nom de l'UAP doit contenir au plus 20 caractères
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label text-one">
                <h5>Description:</h5>
            </label>
            <textarea type="text" class="form-control" name="description" [(ngModel)]="form.uapDescription" required
                placeholder=" La description de l'UAP" #uapDescription="ngModel" minlength="10" style="width : 200%"></textarea>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && uapDescription.errors?.['required']">
                La description de l'UAP est obligatoire
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && uapDescription.errors?.['minlength']">
                La description de l'UAP doit contenir au moins 10 caractères
            </div>
        </div>

        <button class="btn background-outline-yellow">
            <span> Créer </span>
        </button>
        <div class="alert alert-warning mt-2" *ngIf="isFailed">
            Création échouée!
        </div>
    </form>

    <div class="alert alert-success mt-2" *ngIf="isSuccessful">
        Création avec succées!
    </div>
</div>