<div class="container">
    <h2> Users List</h2>
    <!--button (click)="open(content)"></button-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Username </th>
                <th> Email </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button (click)="updateUser(user.id)" class="btn btn-info"> Update </button>
                    
                    <button (click)="deleteUser(user.id)" class="btn btn-danger"> Delete </button>
                    <button class="btn"><i class="fa fa-trash"></i> Trash</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>