<div class="container card col-lg-8 col-md-10 col-sm-12">
    <h2 class="pt-3 text-title text-one"> Liste des utilisateurs</h2>

    <div class="input-group">
        <button class="btn col-lg-4 col-md-4 col-sm-12 btn background-outline-yellow" (click)="open(content)"
            *ngIf=isAdmin()>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span> Ajouter utilisateur</span>
            <ng-template #content let-modal>
                <div class="modal-header background-modal-title">
                    <h4 class="modal-title text-one">Ajouter nouveau utilisateur</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group-append">
                        <app-create-user></app-create-user>
                    </div>
                </div>
            </ng-template>
        </button>


        <input #myInput class="form-control border col-lg-8 col-md-6 col-sm-12" type="text"
            placeholder="Chercher un utilisateur..." [(ngModel)]="username" (input)="Search()">
        <span class="input-group-append">
            <button class="btn background-outline-yellow" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-one">
                <th> Username </th>
                <th> Email </th>
                <th> Rôle </th>
                <th *ngIf=isAdmin()> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td> {{user.roles[0].name}} </td>
                <td *ngIf=isAdmin()>
                    <button (click)="updateUser(user.id)" class="btn outline-update">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="open(content)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title text-danger">Suppression {{user.username}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group-append text-one">
                                    Voulez-vous vraiment supprimer cet utilisateur?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn background-outline-yellow" (click)="modal.dismiss()">
                                    Annuler
                                </button>
                                <button class="btn btn-danger" (click)="deleteUser(user.id)">
                                    Supprimer
                                </button>
                            </div>
                        </ng-template>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--div class="footer-pagination">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <ngb-pagination [(page)]="page" 
                                [pageSize]="size" 
                                [collectionSize]="numElement"
                                (pageChange)="getUsersPagination()">
                </ngb-pagination>
            </div>
        </div>
    </div-->
</div>