<div class="container">
    <form>
        <div class="form-group">
            <label class="control-label text-one">
                <h5>Nom machine:</h5>
            </label>
            <div>
                <input type="text" class="form-control" placeholder="Nom de la machine" name="ccname"
                    [(ngModel)]="newMachine.machineName" #machineName="ngModel" required minlength="3" maxlength="20"
                    style="width : 110%">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && machineName.errors?.['required']">
                    Le nom de la machine est obligatoire.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && machineName.errors?.['minlength']">
                    Le nom de la machine doit contenir au moins 3 caractères.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && machineName.errors?.['maxlength']">
                    Le nom de la machine doit contenir au plus 20 caractères.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label text-one">
                <h5>Description de la machine:</h5>
            </label>
            <div>
                <textarea type="text" class="form-control" placeholder="Description de la machine"
                    name="machineDescription" [(ngModel)]="newMachine.machineDescription" required
                    #machineDescription="ngModel" minlength="10" style="width : 110%"></textarea>
                <div class="alert alert-danger" role="alert"
                    *ngIf="submitted && machineDescription.errors?.['required']">
                    La description de la machine est obligatoire.
                </div>
                <div class="alert alert-danger" role="alert"
                    *ngIf="submitted && machineDescription.errors?.['minlength']">
                    La description de la machine doit contenir au moins 10 caractères.
                </div>
            </div>
        </div>

        <div>
            <label class="control-label text-one">
                <h5>Categorie</h5>
            </label>
            <div class="col-10">
                <div class="form-check form-check-inline">
                    <input mdbRadio class="form-check-input" type="radio" name="machineCategory" id="machineCategory"
                        value="testeur" [(ngModel)]="newMachine.machineCategory" />
                    <label class="form-check-label">Testeur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input mdbRadio class="form-check-input" type="radio" name="machineCategory" id="machineCategory"
                        value="gabarie" [(ngModel)]="newMachine.machineCategory" />
                    <label class="form-check-label">Gabarie</label>
                </div>
            </div>
        </div>

        <div>
            <label class="control-label text-one mt-2">
                <h5>Centre de charge</h5>
            </label>
            <select class="form-control" id="idCC" name="idCC" [(ngModel)]="newIdCC" required style="width : 110%">
                <option value="0" selected disabled>--Affecter un centre de charge à cette machine--</option>
                <option *ngFor="let CC of CCs" [value]="CC.idCC">
                    {{CC.ccname}}
                </option>
            </select>
        </div>

        <div class="mt-4">
            <button type="submit" (click)="addMachine()" class="btn background-outline-yellow">Ajouter</button>
            <!--div class="alert alert-warning mt-2" *ngIf="isFailed">
                Création échoue! {{ errorMessage }}
            </div-->
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Création avec succées!
    </div>
</div>