.card {
    background-color: #ffffff !important;
    height: 350px;
    margin-right: 3%;
    border-radius: 15px !important;
}

img {
    height: 200px;
    // width: 100%;
}

.test {
    height: 80%;
    width: 80%;
    margin: 5% 10%;
}

button {
    margin: 2%;
}