<div class="row">
    <div class="card col-12 col-sm-6 col-md-4 col-lg-2">
        <img src="assets/sirco.jpeg" alt="img" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Sircover</h5>
            <p class="card-text">Some quick d title and make up the bulk of the card's content.</p>
            <button routerLink="/databases/sircoSircover" class="btn background-outline-yellow">Opérations</button>
            <button routerLink="/dashboard/sircoSircover" class="btn background-outline-bleu">Tableaude bord</button>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-4 col-lg-2">
        <img src="assets/vm.jpg" alt="img" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Sirco vm</h5>
            <p class="card-text">Some quick d title and make up the bulk of the card's content.</p>
            <button routerLink="/databases/vm" class="btn background-outline-yellow">Opérations</button>
            <button routerLink="/dashboard/vm" class="btn background-outline-bleu">Tableau de bord</button>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-4 col-lg-2">
        <img src="assets/fuserbloc1.jpg" alt="img" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Fuserbloc</h5>
            <p class="card-text">Some quick d title and make up the bulk of the card's content.</p>
            <button routerLink="/databases/fuserbloc" class="btn background-outline-yellow">Opérations</button>
            <button routerLink="/dashboard/fuserbloc" class="btn background-outline-bleu">Tableau de bord</button>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-4 col-lg-2">
        <img src="assets/fuserbloc1.jpg" alt="img" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">P 77</h5>
            <p class="card-text">Some quick d title and make up the bulk of the card's content.</p>
            <button routerLink="/databases/p77" class="btn background-outline-yellow">Opérations</button>
            <button routerLink="/dashboard/p77" class="btn background-outline-bleu">Tableau de bord</button>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-4 col-lg-2">
        <img src="assets/fuserbloc1.jpg" alt="img" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"> P 87</h5>
            <p class="card-text">Some quick d title and make up the bulk of the card's content.</p>
            <button routerLink="/databases/devP87" class="btn background-outline-yellow">Opérations</button>
            <button routerLink="/dashboard/devP87" class="btn background-outline-bleu">Tableau de bord</button>
        </div>
    </div>
</div>