<div class="container card col-lg-6 col-sm-10 align-items-left mt-4">
    <h1 class="text-blue mt-2"> Update User </h1>
    <form name="form" (ngSubmit)=" onSubmit()" class="pb-3">
        <div class="form-group">
            <label class="control-label">
                <h4>Username:</h4>
            </label>
            <div>
                <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required
                    #username="ngModel" minlength="3" maxlength="20">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.invalid">
                    Username is required
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.['minlength']">
                    Username must be at least 3 characters
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.['maxlength']">
                    Username must be at most 20 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                <h4>Email:</h4>
            </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['required']">
                Email is required
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['pattern']">
                Email must be a valid email address
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                <h4>Role: {{user.roles[0].name}}</h4> 
            </label>
            <div>
                <select class="form-control" aria-label="Role affected to user" id="role" name="roles"
                    [(ngModel)]="user.roles[0].name">
                    <option *ngFor="let role of roles" [value]="user.roles[0].id">
                        {{role.name}}
                    </option>
                </select>
            </div>
        </div>

        <button class="btn  bg-info">
            <span> Update </span>
        </button>

        <div class="alert alert-warning" *ngIf="isUpdateFailed">
            Creation failed! {{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Your update is successful!
    </div>
</div>