<div class="container">
    <form>
        <div class="form-group">
            <label class="control-label text-one">
                <h5>Nom centre charge:</h5>
            </label>
            <div style="width : 120%">
                <input type="text" class="form-control" placeholder="Nom du centre de charge" name="ccname"
                    [(ngModel)]="newCentreCharge.ccname" required #ccname="ngModel" minlength="3" maxlength="30">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && ccname.errors?.['required']">
                    Le nom du centre de charge est obligatoire.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && ccname.errors?.['minlength']">
                    Le nom du centre de charge doit contenir au moins 3 caractères.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && ccname.errors?.['maxlength']">
                    Le nom du centre de charge doit contenir au plus 20 caractères.
                </div>
            </div>
        </div>

        <div class="form-group text-one">
            <label class="control-label">
                <h5>Description du centre charge:</h5>
            </label>
            <div style="width : 120%">
                <textarea type="text" class="form-control" placeholder="Nom du centre de charge" name="ccdescription"
                    [(ngModel)]="newCentreCharge.ccdescription" required #ccdescription="ngModel"
                    minlength="10"></textarea>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && ccdescription.errors?.['required']">
                    La description du centre de charge est obligatoire.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && ccdescription.errors?.['minlength']">
                    La description du centre de charge doit contenir au moins 10 caractères.
                </div>
            </div>
        </div>

        <div class="form-group text-one">
            <label class="control-label">
                <h5>UAP:</h5>
            </label>
            <select class="form-control" id="idUAP" name="idUAP" [(ngModel)]="newIdUAP" style="width : 120%">
                <option value="0" selected disabled>--Affecter un UAP à ce centre de charge--</option>
                <option *ngFor="let uap of uaps" [value]="uap.idUAP">
                    {{uap.uapName}}
                </option>
            </select>
        </div>

        <div class="mt-2">
            <button (click)="addCentreCharge()" class="btn background-outline-yellow">Ajouter</button>
            <!--div class="alert alert-warning mt-2" *ngIf="isFailed">
                Création échoue! {{ errorMessage }}
            </div-->
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Création avec succées!
    </div>
</div>