.of {
    background-color: rgba(255, 159, 64, 0.2) !important;
}

.dateDeb {
    background-color: rgba(54, 162, 235, 0.2) !important;
}

.dateFin {
    background-color: rgba(153, 102, 255, 0.2) !important;
}

.emballe {
    background-color:  rgba(102, 255, 168, 0.3)!important;
}

.nonEmballe {
    background-color: rgba(255, 26, 104, 0.2) !important;
}

.test{
    text-align: center;
    margin-left: 5%;
}