<div class="container card col-lg-6 col-sm-10 mt-4">
    <h1 class="mt-2 text-one"> Modification :</h1>
    <form name="form" (ngSubmit)="onSubmit()" class="pb-3 mt-2">
        <div class="form-group">
            <label class="control-label text-one">
                <h5>Nom centre de charge:</h5>
            </label>
            <div>
                <input type="text" class="form-control" name="centreChargeName" [(ngModel)]="centreCharge.ccname" required
                    #name="ngModel" minlength="3" maxlength="20">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && name.errors?.['minlength']">
                    Nom centre de charge doit contenir au moins 3 charactères
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && name.errors?.['maxlength']">
                    Nom centre de charge doit contenir au plus 20 caractères
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label text-one">
                <h5>Description:</h5>
            </label>
            <input type="text" class="form-control" name="text" [(ngModel)]="centreCharge.ccdescription" required
                #description="ngModel" minlength="10"/>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && description.errors?.['required']">
                La description de centre de charge est obligatoire
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && description.errors?.['minlength']">
                La description de centre de charge doit contenir au moins 10 caractères 
            </div>
        </div>

        <div class="form-group">
            <label class="control-label text-one">
                <h5>UAP: </h5>
            </label>
            <div>
                <select class="form-control" aria-label="Affecter un UAP à un centre de charge" id="iduap" name="iduap"
                    [(ngModel)]="centreCharge.uap.idUAP">
                    <option value="0" selected disabled>--Affecter un UAP à un centre de charge--</option>
                    <option *ngFor="let uap of uaps" [value]="uap.idUAP">
                        {{uap.uapName}}
                    </option>
                </select>
            </div>
        </div>

        <button class="btn background-outline-yellow">
            <span> Modifier </span>
        </button>

        <div class="alert alert-warning" *ngIf="isFailed">
            Modification échouée! {{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Modification avec succés!
    </div>
</div>