
<div class="container card col-lg-6 col-sm-10 align-items-left mt-4">
    <h1 class="mt-2">Sign Up </h1>
    <form name="form" (ngSubmit)=" onSubmit()">
        <div class="form-group">
            <label class="control-label">
                <h5>Username:</h5>
            </label>
            <div>
                <input type="text" class="form-control" placeholder="Enter" name="username" [(ngModel)]="form.username"
                    required #username="ngModel" pattern="[a-z]">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.['required']">
                    Username est obligatoire.
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.['pattern']">
                    Username doit contenir seulement des lettres alphabétiques.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                <h5>Email:</h5>
            </label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder=" Your email" #email="ngModel"/>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['required']">
                Email est obligatoire.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['pattern']">
                Email doit être sous la forme ***@***.**
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                <h5>Password:</h5>
            </label>
            <div>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" placeholder=" Votre mot de passe.."/>

                <div class="alert alert-danger" role="alert" *ngIf="submitted && password.errors?.['required']">
                    Mot de passe obligatoire.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && password.errors?.['minlength']">
                    Le mot de passe doit contenir au moins 6 caractères.
                </div>
            </div>
        </div>

        <!--select class="form-select" aria-label="">
            <option *ngFor="let role of roles"> {{role.name}}</option>
        </select-->

        <button class="btn bg-info" >
            <span> Register</span>
        </button>

        <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Creation compte erronée! {{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div>
</div>