<div class="container">
    <form name="form" (ngSubmit)=" onSubmit()" class="pb-3 mt-4">
        <div class="form-group">
            <label class="control-label text-one">
                <h5>Nom utilisateur:</h5>
            </label>
            <div style="width: 200%">
                <input type="text" class="form-control" placeholder="Ton nom utilisateur" name="username" id="username"
                    [(ngModel)]="form.username" required #username="ngModel" minlength="3">
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.invalid">
                    Le nom utilisateur est obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && username.errors?.['minlength']">
                    Le nom utilisateur doit contenir au moins 3 caractères
                </div>
            </div>
        </div>

        <div class="form-group text-one">
            <label class="control-label">
                <h5>Email:</h5>
            </label>
            <div style="width: 200%">
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="form.email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="nom@gmail.com" #email="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['required']">
                    L'adresse mail est obligatoire
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && email.errors?.['pattern']">
                    L'adresse mail doit respecter la forme ***@****.**
                </div>
            </div>
        </div>


        <div class="form-group text-one">
            <label class="control-label">
                <h5>Mot de passe:</h5>
            </label>
            <div style="width: 200%">
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" placeholder=" Ton mot de passe" />

                <div class="alert alert-danger" role="alert" *ngIf="submitted && password.errors?.['required']">
                    Le mot de passe est obligatoire!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="submitted && password.errors?.['minlength']">
                    Le mot de passe doit contenir au moins 3 caractères.
                </div>
            </div>
        </div>

        <div class="form-group text-one">
            <label class="control-label">
                <h5>Rôle:</h5>
            </label>
            <div style="width: 200%">
                <select class="form-control" aria-label="Role" [(ngModel)]="form.roles">
                    <option *ngFor="let role of roles" id="role" name="roles" [value]="role.id"> {{role.name}}
                    </option>
                </select>
            </div>
        </div>

        <button class="btn background-outline-yellow">
            <span> Enregistrer</span>
        </button>
        <br />
        <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Création erroné! <br /> {{ errorMessage }}

        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Création avec succés!
    </div>
</div>