<div class="row">
    <div class="col-lg-2 m-3">
        <div class="card p-1 mt-2">
            <label><strong>Date début: </strong></label>
            <input class="form-control" type="date" name="dateDeb" [(ngModel)]="dateDeb" required>
        </div>
        <div class="card p-1 mt-2">
            <label><strong> Date fin: </strong></label>
            <input class="form-control" type="date" name="dateFin" [(ngModel)]="dateFin" [value]="dateDeb">
        </div>

        <div class="card p-1 mt-2">
            <label><strong>Id Testeur </strong></label>
            <input class="form-control" type="text" name="testerID" [(ngModel)]="testerID">
        </div>
        <div class="card p-1 mt-2">
            <button type="button" class="btn background-outline-yellow col-lg-12 mt-1" (click)="ETL()">ETL</button>
            <!--span *ngIf="!isOK">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </span-->

            <button type="button" class="btn background-outline-yellow col-lg-12 mt-1"
                (click)="getDashboard()">Dashboard</button>
        </div>
        <div class="card p-1 mt-2">
            <button *ngFor="let uap of uaps" type="button" class="btn background-outline-bleu col-lg-12 mt-1"
                (click)="getListCentreChargeByUAP(uap.idUAP)" routerLinkActive="active">
                {{uap.uapName}}
            </button>
            <button *ngFor="let cc of centreChargeByUAP" class="btn background-outline-yellow col-lg-12 mt-1"
                routerLinkActive="active" (click)="getDashboardCentreCharge(cc.idCC)">
                {{cc.ccname}}
            </button>
        </div>

    </div>

    <div class="row col-lg-9 m-3">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <button class="btn background-outline-bleu m-1">Imprimer</button>
            <button class="btn background-outline-yellow">Exporter Excel</button>
        </div>
        <div class="card col-lg-5 m-1">
            <strong>Partition de conformité des pièces par UAP</strong>
            <canvas id="myChartBarByDate"></canvas>
        </div>
        <div class="card col-lg-6 m-1">
            <strong>Partition de fonctionnement par UAP</strong>
            <canvas id="myChartLineByDate"></canvas>
        </div>

        <div class="card col-lg-3 m-1">
            <strong>Somme des pièces de l'usine</strong>
            <canvas id="myChartPieSomme"></canvas>
        </div>

        <div class="card col-lg-5 m-1">
            <strong>Somme des pièces par testeur {{testerID}}</strong>
            <canvas id="myChartBarByDateByTester"></canvas>
        </div>

        <div class="card col-lg-3 m-1">
            <strong>Conformité par UAP</strong>
            <canvas id="myCharBarByUAPDetails"  style="height: 200px;"></canvas>
        </div>
        
        <div class="card col-lg-5 m-1">
            <strong>Durée fonctionnement par testeur {{testerID}}</strong>
            <canvas id="myChartLineByDateByTester"></canvas>
        </div>
        <div class="card col-lg-6 m-1">
            <strong>Partition de conformité des pièces par centre de charge </strong>
            <canvas id="myChartLineByUAPDetails"></canvas>
        </div>

        <div class="card col-lg-3 m-1">
            <strong>Conformité des pièces par UAP </strong>
            <canvas id="myChartPieByUAP"></canvas>
        </div>

        <div class="card col-lg-6 m-1">
            <strong>centre de charge</strong>
            <canvas id="myChartLineByCentreCharge"></canvas>
        </div>
    </div>


</div>