<div class="m-5 p-5 card">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>
                <h5>Base de données: </h5>
            </label>
            <select class="form-control" id="databaseId" name="databaseId"
                [(ngModel)]="databaseId" (change)="chargerTesterID($any($event.target).value)">
                <option value="0" selected disabled>--Choisissez une base de données --</option>
                <option value="vm/"> TestResultVm </option>
                <option value="sircoSircover/"> TestResultsSircoSircover </option>
                <option value="p77/"> TestResultsP77 </option>
                <option value="fuserbloc/"> TestResultsFuserbloc </option>
                <option value="devP87/"> TestResultsDevP87 </option>
            </select>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>
                <h5>Centre de charge:</h5>
            </label>
            <select class="form-control" id="testerId" name="testerId" [(ngModel)]="testerId">
                <option value="0" selected disabled>--Choisissez un testeur --</option>
                <option *ngFor="let testeur of listTesterID" [value]="testeur">
                    {{testeur}}
                </option>
            </select>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>
                <h5>Date début:</h5>
            </label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDebut" ngbDatepicker
                    #dateDebut="ngbDatepicker">
                <button class="btn background-outline-yellow calendar" (click)="dateDebut.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>
                <h5>Date fin:</h5>
            </label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelFin" ngbDatepicker
                    #dateFin="ngbDatepicker">
                <button class="btn background-outline-yellow calendar" (click)="dateFin.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-12">
            <button class="btn background-outline-yellow  mt-4 w-100" (click)="listsummary()" type="button">
                Dashboard
            </button>
        </div>
        <ngb-alert *ngIf="isError" class="mt-3 mb-0" type="danger">
            la date de début doit être plus ancienne que la date fin .
        </ngb-alert>
        <ngb-alert *ngIf="isClicked" class="mt-3 mb-0 w-75 mx-auto" type="info">
            {{time}} : {{nbSecond}} secondes
        </ngb-alert>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Centre de charge </th>
                <th> test start time </th>
                <th> test status </th>
                <th> site code </th>
                <th> operator name </th>
                <th> mechanical assembly </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let summary of listSummaries">
                <td>{{summary.testerID}}</td>
                <td>{{summary.testStartTime}}</td>
                <td>{{summary.testStatus}}</td>
                <td>{{summary.siteCode}}</td>
                <td>{{summary.operatorName}}</td>
                <td>{{summary.mechanicalAssembly.idMechanicalAssembly}}</td>
            </tr>
        </tbody>
    </table>

    <ngb-alert *ngIf="isEmpty" class="mt-3 mb-0" type="danger">
        Aucune information à afficher pour cette date.
    </ngb-alert>

    <div class="footer-pagination">
        <div class="row">
            <div class="col-9">
                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                    [maxSize]="5" [boundaryLinks]="true" (pageChange)="listsummary()">

                </ngb-pagination>
            </div>
            <div class="col-3">
                 Par
                <select (change)="updatePageSize($any($event.target).value)" class="form-control w-8">
                    <option selected="true"> 10 </option>
                    <option> 100 </option>
                    <option> 1000 </option>
                    <option> 5000 </option>
                </select>
                 lignes
            </div>
        </div>
    </div>
</div>