<div class="container row col-lg-12">
  <div class="col-lg-7 col-md-6 col-sm-12"> 
    <!--img src="assets/logo iData H_Plan de travail 1 copie 3.png"-->
  </div>
  <div class="card col-lg-3 col-md-6 col-sm-12 p-3 card1 text-warning text-one">

    <h1 class="text-one">Se connecter</h1>

    <form class="form-horizontal text-dark" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm" novalidate>

      <div class="form-group">
        <label class="control-label">
          <h5>Nom utilisateur:</h5>
        </label>
        <div>
          <input type="username" class="form-control" placeholder="Votre username" name="username"
            [(ngModel)]="form.username" required #username="ngModel">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
            Le nom utilisateur est obligatoire!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">
          <h5>Mot de passe:</h5>
        </label>
        <div>
          <input type="password" class="form-control" placeholder="Votre mot de passe.." name="password"
            [(ngModel)]="form.password" required minlength="6" #password="ngModel">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors?.required">Mot de passe est obligatoire</div>
          <div *ngIf="password.errors?.minlength">
            Mot de passe doit contenir au moins 6 charactères
          </div>
        </div>
      </div>

      <button class="btn bg-warning text-white">
        <span> Se connecter</span>
      </button>
      <br />

      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Connexion échouée: {{ errorMessage }}
        </div>
      </div>

    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Connectée comme: {{ roles }}.
    </div>

  </div>
</div>