<div class="container card col-lg-8 col-md-10 col-sm-12 mt-4">
    <h2 class="pt-3 text-one">{{uap.uapName}}</h2>

    <div class="input-group mt-3 mb-3">
        <button class="btn col-4 col-md-4 col-sm-12 btn background-outline-yellow " (click)="open(content)" *ngIf=isAdmin()>
            <span> Ajouter Centre de Charge</span>
            <ng-template #content let-modal>
                <div class="modal-header background-modal-title">
                    <h4 class="modal-title text-one">Ajouter nouveau centre de charge</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group-append">
                        <app-create-load-charge></app-create-load-charge>
                    </div>
                </div>
            </ng-template>
        </button>
        <input class="form-control border col-lg-8 col-md-6 col-sm-12" type="text"
            placeholder="Chercher un UAP ..." [(ngModel)]="ccname" [(ngModel)]="ccdescription" (input)="Search()">
        <span class="input-group-append">
            <button class="btn background-outline-yellow" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="text-one">
                <th> Nom </th>
                <th> Description </th>
                <th> UAP </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cc of centreCharge">
                <td>{{cc.ccname}}</td>
                <td>{{cc.ccdescription}}</td>
                <td>{{cc.uap.uapName}}</td>
                <td>
                    <button (click)="loadChargeDetails(cc.idCC)" class="btn outline-details">
                        <i class="fa fa-file" aria-hidden="true"></i>
                        Details de {{cc.ccname}}
                    </button>
                    <button (click)="updateLoadCharge(cc.idCC)" class="btn outline-update" *ngIf=isAdmin()>
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="open(content)" *ngIf=isAdmin()>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title text-danger">Suppression {{cc.ccname}}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group-append text-one">
                                    Voulez-vous vraiment supprimer ce centre de charge?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn background-outline-yellow" (click)="modal.dismiss()">
                                    Annuler
                                </button>
                                <button class="btn btn-danger" (click)="deleteLoadCharge(cc.idCC)">
                                    Supprimer
                                </button>
                            </div>
                            <!--div class=" alert alert-success" *ngIf="isSuccessful">
                                Suppression avec succées.
                            </div-->
                            <div *ngIf=isDeletedFailed class="alert alert-danger">
                                Ce centre de charge contient des machines. <br />
                                Pour le supprimer, il faut supprimer toutes les machines qu'il compose.
                            </div>
                        </ng-template>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>